{%extends "Matching/base.html"%}
{% load static %}
{% block style %}
<style>
    /* input[type=text] {
        width: 60rem;
    } */
    .btn-primary,
    .btn-secondary {
        background-color: #bff5fa;
        color: black;
        border: 0.5px solid #bff5fa !important;
        box-shadow: 3px 3px 5px #888888;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 10rem;
        border-radius: 2vh;
        height: auto;
    }

    .btn:not(:disabled):not(.disabled) {
        background-color: #bff5fa;
    }

    .btn-group-toggle :hover {
        background-color: #fee648 !important;
        color: #000;
    }

    .active {
        background-color: #fee648 !important;
        color: #000 !important;
    }

    .btn-group>.btn-group:not(:last-child)>.btn,
    .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
        border-radius: 2vh;
    }

    .btn-group>.btn-group:not(:first-child)>.btn,
    .btn-group>.btn:not(:first-child) {
        border-radius: 2vh;
    }

    .card {
        margin: 3rem;
        box-shadow: 3px 3px 5px #888888;
        border-radius: 2vh;
        padding: 10px;
    }
</style>

{% endblock style %}
{% block content%}
<div class="position-relative z-index-1 overflow-hidden">
    <div class="container" style="margin-top: 15vh;">
        <h2 style="margin-top: 2vh !important;text-align: center;">SELF ASSESSMENT</h2>
        <h4 style="text-align: center;"> It is recommended to answer these questions in the presence of an adult</h4>
        <h4 style="text-align: center;">Rate the following as per the frequency of occurences</h4>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Gender</h5>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="gender" value="0">Male
                        </label>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="gender" value="1">Female
                        </label>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary">
                            <input type="radio" name="gender" value="2">Others
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="card text-center">
                <div class="card-body" style="padding: 0.5rem !important;">
                    <h5 class="card-title">Age</h5>
                </div>
                <div style="margin-bottom:1rem;">
                    <input type="number" name="age" class="form-control">
                </div>
            </div>
            <!-- Submit button -->
            <div class="align-self-center mx-auto text-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">

                    <button type="submit" class="btn btn-secondary" Value="Submit"> Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!----<div class="wrapper">
    <div class="header">
        <div class="top">
            <div class="logo">
                <img src="" alt="instagram" style="width: 175px;">
            </div>
 
            <form class="form" action="" method="POST">
                {% csrf_token %}
                <div class="input_field">
                    {{ form.age }}
                </div>
                <div class="input_field">
                    {{ form.gender }}
                </div>


                <button class="btn">Submit</button>
            </form>       
            
        </div>
        
        
    </div>
    
</div>
<script>

    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Age';
    form_fields[2].placeholder = 'Gender';


    for (var field in form_fields) {
        form_fields[field].className += 'input'
        form_fields[field].required = true
    }
</script>!---->
{%endblock%}
